.App {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.container {
  max-width: 80%;
}
.title {
  text-align: center;
  padding: 150px;
  font-size: 60px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 15px;
}

.App {
  text-align: left;
}

footer {
  margin-top: 100px;
  padding: 150px;
}

.name-tag,
.git-tag {
  color: black;
}

.name-tag:hover {
  cursor: pointer;
  opacity: 0.5;
}
.git-tag:hover {
  cursor: pointer;
  opacity: 0.5;
}
.citation {
  font-style: italic;
  text-align: center;
  font-size: 11px;
}
